/* mobile menu */
@media (max-width: 1157px) {
  html,body{
  margin: 0;
  padding: 0; 
}/*This one is like for main html and body*/
body, ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

  .Project-Title a{

  align-items: center;
  color: aliceblue;
  padding-top: 0px;
  margin-left: 3px;
  text-decoration: none;  /*removes text decleration beacuse of a tag*/
  font-size: 1.4rem;
  text-align: left;

}
  .Project-Title {
  display: flex;
  align-items: center;
  color: aliceblue;
  text-decoration: none;  /*removes text decleration beacuse of a tag*/
 
  text-align: left;
  margin-left: 0px;

}
.image img{

  border-radius: 5px;
  width: 19vw;
  height: 15vh;
  align-items: center;
}
    .about-box  {
            /* width of the box */
            margin-top: 5vh;
      padding: 20px; 
      text-align: center;          /* space inside */
      border: 2px solid #333;  /* border color and thickness */
/* rounded corners */
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    }
      iframe {
      width: 100%;
      height: 40%;
      margin:auto;    /* center box horizontally */
      overflow: hidden;
      display: flex;
     
    }
button{
  background-color: red;
  color: white;
  border-radius: 15px;
}
  .movies img{
    max-width: 350px;
    max-height: 320px;
  }
  .movies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vh;
  }
    .Top-Section {
    flex-direction: column;   /* stack logo + hamburger + menu vertically */
    align-items: flex-start;  /* align items to left */
    padding-right: 1rem;
  }
  .menu-toggle {
    display: block;
    margin-left: 1rem;    /* no auto */
  }

  .Functionalities {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(25,25,25);
    width: 100%;
    padding: 1rem;
  }

  .Functionalities.show {
    display: flex;
  }
  .Project-Section h1{
  margin-left: 35vw;
  color: aliceblue;
  margin-top: 50px;

 
}

  .Functionalities a {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
  }
}



