html,body{
  margin: 0;
  padding: 0; 
}/*This one is like for main html and body*/
body, ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

nav {
  display: block;
}/*This states css about naviagtion bar*/

*{
box-sizing: border-box;
margin: 0%


}/*for entire website*/


.Top-Section{
background-color: rgb(25,25,25) !important;
color:aliceblue;
border-color: aliceblue;
display:flex;
justify-content: space-between;
top:0px;
position: fixed;
width: 100%;
margin-left: 0;
z-index: 999;
padding: 30px;
border-bottom: 2px solid #d8d8d8;
}
.Top-Section a{
 margin-left: 0%;
 
}


.Project-Section{
  text-align: center;
  display: flex;
}

.Project-Section h1{
  color: aliceblue;
  margin-top: 50px;
  text-align: center;
  margin-left: 45vw; 
}

.Functionalities a{
  color: aliceblue;
  padding-top: 100px;
  padding-left:50px ;
  text-decoration: none;   /*removes text decleration beacuse of a tag*/
  font-size: large;

  
  
}
.image img{
  margin-left: 10vh;
  margin-top: 10vh;
  border-radius: 5px;
  width: 13vw;
  height: 17vh;
  align-items: center;
}
.Functionalities img{
  width: 1vw;
  height: 1vh;
  align-items: center;
}

.Project-Title a{
  display: flex;
  color: aliceblue;
  padding-top: 0px;
  padding-right: 120px;
  text-decoration: none;  /*removes text decleration beacuse of a tag*/
  font-size: xx-large;
  text-align: left;

}
body{
  background-color:rgb(14,14,14) !important;
     margin: 0;
    padding: 0;

}
.Image{
      margin: 100px auto;
      margin-bottom: 0px;
      max-width: 85vw;
      padding-bottom: 0px;
      padding: 50px;
      border-radius: 25px;
      display: flex;

    }
.Image img{
    border-radius: 50px;
    overflow: hidden;
    width: 70vw;
    height: 70vh;
    align-items: center;
   
}
    .quote{
    padding-top: 10px;
    
  }

  .quote h2{
    color: aliceblue;
    margin:center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    align-items: center;
    text-align: center;

  }

  

  .movies{
    display: flex;
  }

  .movies img{
    width:700px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    background-color: bisque;

  }

    .info h6{
    justify-content: center;
    font-size: small;
    color: aliceblue;
    margin-top: 5vh;
  }

      iframe {
      width: 100%;
      height: 100%;
    }


  .ytplayer{
      width: 90vw;         /* box width */
      height: 75vh;        /* box height */
      padding: 10px;        /* space inside box */
      margin:auto;    /* center box horizontally */
      overflow: hidden;
      display: flex;
      margin: auto;
  }

      .simple-footer {
      width: 100vw;
      background-color:rgb(25,25,25);
      color: #fff1f1;
      text-align: center;
      padding: 15px 10px;
      font-size: 14px;
    }
.slide {
  height: 100vh;              /* each takes full viewport height */
  scroll-snap-align: start;   /* locks when slide top hits viewport */
  justify-content: center;


}

.slides {
  height: 100vh;
  overflow-y: scroll;         /* vertical scroll inside wrapper */
  scroll-snap-type: y mandatory;/* <-- key property */
  scroll-padding-top: 80px;   
  justify-content: space-around;
}



.slides > section:last-child {
  height: calc(20px);
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}
/* default: show links, hide button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: aliceblue;
  cursor: pointer;
}
.Functionalities {
  display: flex;
  gap: 2rem;          /* space between links */
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Functionalities li {
  list-style: none;
}

.Functionalities a {
  color: aliceblue;
  text-decoration: none;
  font-size: large;
}
.team-info{
  display: flex;
}
    .about-box1{
      margin-left: 10vw;
      margin-right: 20vw;
      margin-top: 10vh;
      width: 60vw;            /* width of the box */
      padding: 20px; 
      text-align: center;          /* space inside */
      border: 2px solid #333;  /* border color and thickness */
      border-radius: 8px;      /* rounded corners */
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    }
    .about-box  {
      margin-left: 20vw;
      margin-right: 20vw;
      width: 60vw;            /* width of the box */
      padding: 20px; 
      text-align: center;          /* space inside */
      border: 2px solid #333;  /* border color and thickness */
      border-radius: 8px;      /* rounded corners */
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    }
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* mobile view */
.Top-Section {
  background: rgb(25,25,25);
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 999;
  border-bottom: 2px solid #d8d8d8;
}

/* hamburger button (hidden on desktop) */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: aliceblue;
  cursor: pointer;
}

/* desktop menu */
.Functionalities {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Functionalities a {
  color: aliceblue;
  text-decoration: none;
  font-size: large;
}

